.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}



.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* shared styling */

body {
    max-width: 1440px;
    background-color: #F5F8FF;
}

/* navigation section */
.heading {
    background-image: url(../assets/hero.png);
    max-width: 1440px;
    max-height: 698px;
}

.logo {
    font-family: "Inter", sans-serif;
    width: 99px;
    height: 51px;
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
}

.nav {
    margin: 0 150px;
    max-width: 1140px;
    max-height: 151px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* banner section */
.title-banner {
    margin: 0 267.8px;
    align-items: center;
    padding-bottom: 152px;
}

.banner-heading {
    font-family: "Raleway", sans-serif;
    text-align: center;
    margin-top: 158px;
    max-width: 905px;
    max-height: 152px;
    font-weight: bold;
    font-size: 65px;

}

/* button section */
.banner-button {
    font-weight: bold;
    margin: 0 365.5px 0 365.5px;
    width: 174px;
    height: 48px;
    color: white;
    background-color: #4E47FF;
    border: none;
    border-radius: 5px;
    font-family: "Raleway", sans-serif;
    color: white;
}

.nav-button {
    font-weight: bold;
    width: 132px;
    height: 48px;
    color: white;
    font-size: 16px;
    background-color: #4E47FF;
    border-radius: 5px;
    border: none;
    font-family: "Raleway", sans-serif;
}

.action-button {
    font-weight: bold;
    width: 229px;
    height: 48px;
    font-size: 16px;
    color: white;
    background-color: #4E47FF;
    border: none;
    border-radius: 5px;
    font-family: "Raleway", sans-serif;
}

/* styling action */

.section-action {
    margin: 150px 0;
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
}

.action-title {
    font-weight: bold;
    font-size: 42px;
    color: #252432;
    font-family: "Raleway", sans-serif;
}

.action-sub-title {
    font-weight: 400;
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    font-family: "Raleway", sans-serif;
}

.action-img {
    border-radius: 48px;
}

/* Styling prousers  */


.prousers-section {
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    margin: 0 150px 135px 150px;
    padding: 0 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}


.prousers-headline {
    color: #252432;
    font-family: "Raleway", sans-serif;
    font-size: 38px;
    font-weight: bold;
}

.prousers-Stats {
    width: 78%;
    display: flex;
    justify-content: space-between;
}

.prousers-placeholder {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.pro-user-census {
    color: #4E47FF;
    font-family: "Inter", sans-serif;
    font-size: 80px;
    font-weight: bold;
    margin: 0;
}

.prouser-subtitle {
    color: rgba(0, 0, 0, 0.5);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}