.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}



.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* shared styling */

body {
    max-width: 1440px;
    background-color: #F5F8FF;
}

/* navigation section */
.heading {
    background-image: url(../assets/hero.png);
    max-width: 1440px;
    max-height: 698px;
}

.logo {
    font-family: "Inter", sans-serif;
    width: 99px;
    height: 51px;
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
}

.nav {
    margin: 0 150px;
    max-width: 1140px;
    max-height: 151px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* banner section */
.title-banner {
    margin: 0 267.8px;
    align-items: center;
    padding-bottom: 152px;
}

.banner-heading {
    font-family: "Raleway", sans-serif;
    text-align: center;
    margin-top: 158px;
    max-width: 905px;
    max-height: 152px;
    font-weight: bold;
    font-size: 65px;

}

/* button section */
.banner-button {
    font-weight: bold;
    margin: 0 365.5px 0 365.5px;
    width: 174px;
    height: 48px;
    color: white;
    background-color: #4E47FF;
    border: none;
     cursor: pointer;
    border-radius: 5px;
    font-family: "Raleway", sans-serif;
    color: white;
}

.nav-button {
    font-weight: bold;
    width: 132px;
    height: 48px;
    color: white;
    font-size: 16px;
    background-color: #4E47FF;
    border-radius: 5px;
    border: none;
    font-family: "Raleway", sans-serif;
     cursor: pointer;
}

.action-button {
    font-weight: bold;
    width: 229px;
    height: 48px;
    font-size: 16px;
     cursor: pointer;
    color: white;
    background-color: #4E47FF;
    border: none;
    border-radius: 5px;
    font-family: "Raleway", sans-serif;
}




/* styling action */

.section-action {
    margin: 150px 0;
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
}

.action-title {
    font-weight: bold;
    font-size: 42px;
    color: #252432;
    font-family: "Raleway", sans-serif;
}

.action-sub-title {
    font-weight: 400;
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    font-family: "Raleway", sans-serif;
}

.action-img {
    border-radius: 48px;
}

/* Styling prousers  */


.prousers-section {
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    margin: 0 150px 135px 150px;
    padding: 0 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}


.prousers-headline {
    color: #252432;
    font-family: "Raleway", sans-serif;
    font-size: 38px;
    font-weight: bold;
}

.prousers-Stats {
    width: 78%;
    display: flex;
    justify-content: space-between;
}

.prousers-placeholder {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.pro-user-census {
    color: #4E47FF;
    font-family: "Inter", sans-serif;
    font-size: 80px;
    font-weight: bold;
    margin: 0;
}

.prouser-subtitle {
    color: rgba(0, 0, 0, 0.5);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}
/* user feedbacks section */

.user-reviews-section {
    margin: 0 150px 135px 150px;
}

.review-main-heading {
    font-family: "Raleway", sans-serif;
    font-size: 42px;
    font-weight: 700;
    color: rgba(37, 36, 50, 1);
    text-align: center;
    margin-bottom: 50px;
}

.top-user-reviews {
    display: flex;
    gap: 20px;
}

.review-card {
    flex: 1;
    padding: 24px;
    background-color: rgba(242, 237, 237, 1);
    border-radius: 14px;
}

.review-title,
.review-subtitle {
    color: #1E1E1E;
}

.reviewer-container {
    display: flex;
    align-items: center;
}

.reviewer-image {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: block;
    object-fit: cover;
}

.reviewer-details {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    padding: 0;
}

.reviewer-details h4 {
    margin: 0;
}

.reviewer-name {
    color: #757575;
}

.review-date {
    color: #B3B3B3;
}

/* Free sign up styles */
.free-registration-section {
    margin: 0 150px 90px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    padding: 70px 150px;
    border-radius: 14px;
}

.free-registration-section .registration-heading {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #000000;
    margin: 0 auto;
}

.free-registration-section .registration-subheading {
    margin: 20px auto;
    color: rgba(0, 0, 0, 0.5);
}

.registration-button {
    padding: 12px 36px;
}

.free-registration-section img {
    border-radius: 45px;
    margin-top: 20px;
}


/* Contact  Area */.contact-us-area {
    margin: 0 150px 115px 150px;
    display: flex;
    gap: 2rem;
}

.contact-us-area h1 {
    color: #000000;
    font-weight: bold;
    font-size: 90px;
    font-family: "Raleway", sans-serif;
}

.contact-us-area h1,
.contact-us-area form {
    flex: 1;
}

.contact-us-area form {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.contact-us-area .form-element {
    margin-bottom: 1rem;
}

.form-element input,
.form-element textarea {
    font-size: 20px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    border: none;
    margin-top: 10px;
    background-color: #FFFFFF;
    border-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 32px 20px;
    width: 100%;
}

.form-element label {
    font-weight: 500;
    font-family: "Inter", sans-serif;
}

.contact-submit-btn {
    border-radius: 10px;
    height: 50px;
    color: #F5F8FF;
    background-color: #4E47FF;
    width: 110%;
}

.contact-submit-btn:hover {
    background-color: #757575;
}
/* Footer Styles */
.footer-base {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 105px 455px;
}

.footer-brand-logo {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 100px;
    margin: 0 auto;
}

.footer-text-content {
    color: rgba(137, 135, 161, 1);
    text-align: center;
    width: 100%;
}

.footer-navigation-links ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
}

.footer-navigation-links li {
    margin-right: 48px;
}

.footer-navigation-links a {
    text-decoration: none;
    color: rgba(137, 135, 161, 1);
}
